# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/

# Logs
logs/
*.log

# Docker
*.env
docker/data/
docker/volumes/

# Airflow
airflow.db
airflow-webserver.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env
*.db
*.sqlite3

# If you have a storage directory for temporary files, you can ignore it as well
storage/

# Airflow configuration file (if you have one in the project directory)
airflow.cfg